In [3]:
import pandas as pd

In [145]:
df = pd.read_csv(r'./eventDump.csv')

df

,_id,Users,Type
0,ObjectId(5df172e2cd46ec15c3fbe987),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",PARTY
1,ObjectId(5df20b9e1d448316e0c6999d),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",MEETING
2,ObjectId(5df20f0e1d448316e0c699a4),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",PARTY
3,ObjectId(5df20fc11d448316e0c699a5),[],LECTURE
4,ObjectId(5df230123044cc4f089cfa06),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",LECTURE
5,ObjectId(5df242bd3044cc4f089cfa09),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",LECTURE

In [164]:
## Trying to get unique users

users = []

def distinct_user(user):
    for i in user:
        if{i not in u}:
            users.append(i)
            
        
        if {i in u}:
            break
                     
            
distinct_user(df['Users'])

In [154]:
#df['distinctUsers' ] = df.apply(lambda x : distinctUser(x['Users']), axis = 1)

df['Users']

0    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
1    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
2    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
3                                                   []
4    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
5    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
Name: Users, dtype: object

In [161]:
## This is a function for running through each row and checking for distinct users, not really good, but could serve as inspiration

rowCount = len(df.index)

def users_per_row():
    for i in range(rowCount):
        distinct_user(df.iloc[i]['Users'])
        print(df.iloc[i]['Type'])

users_per_row()


#df.iloc[0]['Users']

PARTY
MEETING
PARTY
LECTURE
LECTURE
LECTURE

In [147]:
types = df['Users'].groupby(df['Type'])

In [177]:
types.sum()

Type
LECTURE    [][{"$oid":"5df204961d448316e0c69998"},{"$oid"...
MEETING    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
PARTY      [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
Name: Users, dtype: object

In [151]:
# Grouping in relation to type, as pandas series

pandas_series = df.groupby('Type')['Users'].sum()
pandas_series

Type
LECTURE    [][{"$oid":"5df204961d448316e0c69998"},{"$oid"...
MEETING    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
PARTY      [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
Name: Users, dtype: object

In [163]:
# Grouping in relation to type, as pandas dataframe 

grouped_pandas_df = df.groupby('Type')[['Users']].sum()
grouped_pandas_df

                                                     Users
Type
LECTURE  [][{"$oid":"5df204961d448316e0c69998"},{"$oid"...
MEETING  [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...
PARTY    [{"$oid":"5df204961d448316e0c69998"},{"$oid":"...

In [204]:
distinct_user(grouped_pandas_df['Users'])

len(users)
#users.clear()

# doing some weird stuff, printing a long ass string and apparently is 1 user....

1

In [205]:
users

['[][{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"}][{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"}]']

In [193]:
grouped = df.groupby('Type')['Users'].unique()
grouped

Type
LECTURE    [[], [{"$oid":"5df204961d448316e0c69998"},{"$o...
MEETING    [[{"$oid":"5df204961d448316e0c69998"},{"$oid":...
PARTY      [[{"$oid":"5df204961d448316e0c69998"},{"$oid":...
Name: Users, dtype: object